/* @UralbekUZbot | v1.0.0 14-iyun 2024 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Muallif: Uralbek Tursunov */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
/* CSS ID="DEMO" SELECTORS */
#top {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#logo {
    padding-top: 6px;
    padding-bottom: 5px;
    padding: 5px0;
}
#logotip {
    margin-left: 10px;
    font-size: 24px;
    font-family: "Oswald", Sans-Serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: normal;
    color: #0095B6;
}
#demo {
    display: inline-block;
    color: #f00;
}