/* Uralbek Tursunov • uralbek.uz • v1.0.0 (200624) */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
body{background-color:#fff}
#ub-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: #fff;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)
}
#header {
    margin-left: 16px;
    padding-top: 7px;
    padding-bottom: 4px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}